ul {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    margin: auto;
}

body {
font-family: "Roboto", sans-serif;
color: #434455;
background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.current {
color:#404bbf;
}

.menu-link.current::after{
content: "";
position: absolute;
background-color: #404bbf;
border-radius: 2px;
width: 100%;
height: 4px;
left: 0;
bottom: -1px;
}

.page-header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
    max-width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin: 0 auto;
}

.header-container {
   display: flex; 
   align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.text-blue {
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-item {
    display: flex;
    color: #404bbf;
}

.menu-link {
    position: relative;
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
    color: #404bbf;

}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}

.menu-address {
    font-style: normal;
    
}

.address-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.contact-info {
    display: flex;
    gap: 40px;
    margin-left: auto;
}







.service-btn {
    background-color: #4d5ae5;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
     url('../images/people-office.jpg');
     background-size: cover;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    max-width: 1440px;
    margin-right: 0 auto;

}

.main-page {
    color: #fff;
        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;

}

.service-btn:hover,
.service-btn:focus {
    background:#404bbf;
}










.page-studio {
padding: 120px 0;
}

.list-first-page-studio {
width: calc((100% - 72px) / 4);

}

.social-list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-team-item {
    width: 40px;
    height: 40px;
}

.team-social-media-icon {
    fill: #F4F4FD;
}

.team-social-media {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media:hover,
.team-social-media:focus {
    background-color: #404bbf;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.studio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.first-page {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.first-page-paragraph {
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.page-studio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center; 
}





.our-team-page {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.second-page {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list-item {
    display: flex;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #FFFFFF;
        text-align: center;
        margin-bottom: 72px;
        margin-bottom: 8px;
}

.paragraph-portfolio {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: #FFFFFF;
        text-align: center;
        margin-bottom: 8px;
}
 
.our-team-description {
    padding: 32px 0;
}

.our-portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.team-list {
    display: flex;
    gap: 24px;
}



.list-social-media-footer {
    display: flex;
    column-gap: 18px;
}


.our-container {
    padding: 120px 0;
}

.info-portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}


.list-portfolio {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    
}

.info-portfolio-overlay {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
}

.name-service {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.service-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.info-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.info-portfolio:hover {
box-shadow: 
0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16), 
0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    cursor: pointer;
}

.info-portfolio:hover .info-portfolio-overlay {
    transform: translateX(0);
}

.portfolio-name {
    margin-bottom: 8px;
}



.footer-container {
    display: flex;
    align-items: baseline;
}



.social-media-footer-link:hover,
.social-media-footer-link:focus {
background-color:#31d0aa ;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        background-color:#2e2f42;
        display: inline-block;
        margin-bottom: 16px;
}

.text-blue-footer {
color: #f4f4fd
}

.paragraph-footer {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.text-footer-wrap {
    margin-right: 120px;
}

.social-icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.list-social-media-footer {
    display: flex;
    gap: 16px;
}

.social-media-footer-item {
    width: 40px;
    height: 40px;
}

.social-media-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer-icon {
fill: #f4f4fd;
}




.foooter-subsription-wrap {
   margin-left: 80px; 
}

.foooter-subsription-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.foooter-subsription-form {
    display: flex;
    gap: 24px;
}

.foooter-subsription-input {
width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
}

.foooter-subsription-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-button {
    background-color: #4d5ae5;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border: none;
        display: flex;
        font-style: normal;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
background-color: #404bbf;
}

.subcribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #E7E9FC;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-close-button:hover > .modal-close-button-icon,
.modal-close-button:focus > .modal-close-button-icon {
    fill: #ffffff;
}

.order-form-field-icon {
    fill: #2e2f42;
}

.order-form-desription {
    max-width: 360px;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.order-form-field-wrapper {
    margin-bottom: 8px;
}

.order-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus + .order-form-field-icon {
    fill: #4d5ae5;
}


.order-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.order-form-input-wrapper {
    position: relative;
}

.order-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(-50%, -50%) scale(1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.order-form-message {
    font-size: 12px;
   letter-spacing: 0.04em;
   width: 100%;
   height: 120px;
   border-radius: 4px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   background-color: transparent;
   resize: none;
   color: rgba(46, 47, 66, 0.4);
   outline: transparent;
line-height: 1.17;
   padding: 8px 16px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.order-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.order-form-chechbox-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.order-form-own-checkbox {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 16px;
    fill: transparent;
    height: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-privacy-checkbox:checked + 
.order-form-chechbox-label
.order-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border-color: #404bbf;
    border: none;
}

.order-form-privacy-checkbox:focus+
.order-form-chechbox-label 
.order-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.order-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.order-form-submit-button {
    display: block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-submit-button:focus,
.order-form-submit-button:hover {
    background: #404bbf;
}

.order-textarea-wrapper {
margin-bottom: 16px;
}