ul {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    cursor: pointer;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
}

.current {
    color: #404bbf;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


/* TABLET ADAPTATION */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* DESKTOP ADAPTATION */
@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* HEADER */
/* FOR MOBILE */
.page-header {
    position: sticky;
    border-bottom: 1px solid #E7E9FC;
    top: 0;
    padding: 16px 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header
 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.menu-link {
    color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.11;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}

@media screen and (max-width:767px) {
    .menu-open-btn {
        position: relative;
            display: block;
            
            
            width: 24px;
            height: 24px;
            border: none;
            background-color: #ffffff;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
    }

    .menu-open-btn-icon .menu-open-btn {
        position: absolute;
        top: 0;
        right: 0;
        fill: #2f2f37;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu,
    .contact-info {
        display: none;
    }
    
        .text-blue {
            color: #2e2f42;
        }

    .menu-open-btn:active .menu-open-btn-icon,
    .menu-open-btn:hover .menu-open-btn-icon,
    .menu-open-btn:focus .menu-open-btn-icon {
    fill: #404bbf;
    }

    .address-link {
        color: #434455;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-link:hover,
    .address-link:focus,
    .address-link:active, {
    color: #404bbf;
    }

}

/* FOR TABLET */
@media screen and (min-width:768px){
    .page-header {
            padding: 0;
        }

    .logo {
    margin-right: 120px;
    }

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.text-blue {
    color: #2e2f42;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

.address-link {
    color: #434455;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: 0.02em;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    .menu-open-btn {
      display: none;  
      margin-left: auto;
    }

        .menu-link.current::after {
            content: "";
            position: absolute;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -1px;
        }
    
    
        .address-link:hover,
        .address-link:focus {
            color: #404bbf;
        }
    
        .text-blue {
            color: #2e2f42;
        }
    
        .menu-link.current {
            color: #404bbf;
    
        }
    
        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
        }
    
        .menu-link:active {
            color: #404bbf;
        }
    
        .menu-link {
            position: relative;
            padding: 24px 0;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
/* */
/*  FOR DESKTOP */
@media screen and (min-width:1158px) {
   .my-main-page {
    
   }

    .logo {
        margin-right: 76px;
    }

    .contact-info {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
    }

        .menu-link.current::after {
            content: "";
            position: absolute;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -1px;
        }

    .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

        .address-link:hover,
        .address-link:focus {
            color: #404bbf;
        }

        .text-blue {
            color: #2e2f42;
        }

                .menu-link.current {
                    color: #404bbf;
        
                }

        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
        }
    
        .menu-link:active {
            color: #404bbf;
        }

                .menu-link {
                    position: relative;
                    padding: 24px 0;
                    display: block;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    padding: 24px 0;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
}

/* MAIN PAGE */
/* FOR MOBILE */



.my-main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/backgroundmobile1.jpg');
    background-size: cover;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;

}

@media screen and (min-resolution: 192dpi) {
    .my-main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/backgroundmobile2.jpg');
    }
}

.my-main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-page {
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin-bottom: 72px;
}

.service-btn:hover,
.service-btn:focus {
    background-color: #404bbf;
}

.service-btn:active {
    background-color: #404bbf;
}


/* TABLET */

    .my-main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/backgroundtablet1.jpg');
    max-width: 768px;
    margin-top: 112px 0;
    
    }
   @media screen and (min-width: 768px) {
.my-main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/backgroundtablet2.jpg');
}


    .main-page {
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
    }
}


/* DESKTOP */

.my-main-page {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/people-office.jpg');
    padding: 188px 0;
}

@media screen and (min-width:1158px) {
    .my-main-page {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/people-office2x.jpg');
    padding: 188px 0;
    }

    .main-page {
        margin-bottom: 48px;
    }
}

@media screen and (min-resolution: 192dpi)
.my-main-page {

}
 
/* ADVANTAGES */
/* MOBILE */

@media screen and (max-width:1157px) {
    .container-icon {
        display: none;
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.studio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}


.page-studio {
    padding: 96px 0;
}


.social-list-team {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.team-social-media-icon {
    fill: #F4F4FD;
}


.first-page {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.first-page-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .first-page { 
        text-align: left;
    }

    .studio-list {
    column-gap: 24px;
    row-gap: 72px;
    }

    .list-first-page-studio {
        width: calc((100% - 24px) / 2);
    }
}

/* DESKTOP */
@media screen and (min-width: 1158px) {
    .page-studio {
    padding: 120px 0;
    }

        .list-first-page-studio {
            width: calc((100% - 72px) / 4);
        }

        .container-icon {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 100%;
            height: 112px;
            margin-bottom: 8px;
            background: #f4f4fd;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .first-page {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        }

        .first-page-paragraph {
        font-weight: 400;
        }
}

/* OUR TEAM */
/* MOBILE */
.our-team-page {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.second-page {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-list-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.our-team-description {
    padding: 32px 0;
}

.portfolio-name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-portfolio {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-list-team {
    display: flex;
        justify-content: center;
        gap: 24px;
}

.team-social-media {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-team-item .team-social-media-icon {
    fill: #f4f4fd;
}

.team-social-media:hover,
.team-social-media:active,
.team-social-media:focus {
background-color: #404bbf;
}

/* TABLET */
@media screen and (min-width: 768px) {
   .team-list {
    gap: 64px 24px;
    padding: 0 92px;
   } 

   .team-list-item {
    width: calc((100% - 24px) / 2);
   }
}

/* DESKTOP */
@media screen and (min-width: 1158px) {
    .team-list {
        gap: 24px;
        padding: 0;
    }

    .team-list-item {
    width: calc((100% - 72px) / 4);
    }

    .team {
        padding: 120px 0;
    }
}

/* PORTFOLIO */
/* MOBILE */
.our-container {
    padding: 96px 0;
}

.our-portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.info-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-portfolio:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.info-portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.info-portfolio-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

.info-portfolio:hover .info-portfolio-overlay {
    transform: translateY(0%);
}

.our-portfolio-description {
padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
}

.name-service {
    font-weight: 500;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.service-type {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* TABLET */
@media screen and (min-width:768px) {
    .list-portfolio {
    gap: 72px 24px;
    }

    .info-portfolio {
    width: calc((100% - 24px) / 2);
    }
}
/* DESKTOP */
@media screen and (min-width:1158px) {
    .our-container {
        padding: 120px 0;
    }
    
    .list-portfolio {
    gap: 48px 24px;
    }

    .info-portfolio {
    width: calc((100% - 48px) / 3);
    }
}

/* FOOTER */
/* MOBILE */
.footer-page {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px 0;
}

.footer-container .logo-footer   {
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.text-blue-footer {
    color: #f4f4fd
}



.paragraph-footer {
    display: flex;
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-icons-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.list-social-media-footer {
    display: flex;
    gap: 16px;
}

.social-media-footer-item {
    width: 40px;
    height: 40px;
}

.social-media-footer-icon {
fill: #f4f4fd;
}

.social-media-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-media-footer-link:hover,
.social-media-footer-link:focus {
    background-color: #31d0aa;
}

.foooter-subsription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    display: inline-block;
    margin-bottom: 16px;
}

.foooter-subsription-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.foooter-subsription-input {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #2e2f42;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        outline: none;
        background-color: transparent;
}

.foooter-subsription-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 24px;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}

.subscribe-button:active {
    background-color: #404bbf;
}

.subcribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}
/* TABLET */
@media screen and (min-width:768px) {
.footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
 }

    .text-footer-wrap {
        padding-left: 124px;
    }


    .footer-page .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
    }

    .paragraph-footer {
    min-width: 264px;
    }

    .social-icons-text {
    text-align: start;
    }

    .foooter-subsription-wrap {
    padding-left: 108px;
    }

    .foooter-subsription-form {
        flex-direction: row;
        gap: 24px;
    }

    .foooter-subsription-text {
        text-align: start;
    }
 }
/* DESKTOP */
@media screen and (min-width:1158px) {
    .footer-page {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-container .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
    }

    .text-footer-wrap {
        padding-left: 0;
        margin-right: 120px;
    }

    .social-icons-wrap {
    margin-right: 80px;
    }

    .foooter-subsription-wrap {
    padding-left: 0;
    }
}

/* ORDER-SERVICE */
/* MOBILE */




.backdrop {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
        background: #fcfcfc;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        width: 288px;
        min-height: 623px;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 72px 16px 24px 16px;
        margin: auto;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover>.modal-close-button-icon,
.modal-close-button:focus>.modal-close-button-icon {
    fill: #ffffff;
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.order-form-field-icon {
    fill: #2e2f42;
}

.order-form-desription {
    max-width: 360px;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.order-form-field-wrapper {
    margin-bottom: 8px;
}

.order-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus+.order-form-field-icon {
    fill: #4d5ae5;
}


.order-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.order-form-input-wrapper {
    position: relative;
}

.order-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(-50%, -50%) scale(1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.order-form-message {
    font-size: 12px;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    line-height: 1.17;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.order-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.order-form-chechbox-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.order-form-own-checkbox {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 16px;
    fill: transparent;
    height: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-privacy-checkbox:checked+.order-form-chechbox-label .order-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.order-form-privacy-checkbox:focus+.order-form-chechbox-label .order-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.order-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.order-form-submit-button {
display: block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.64px;
    background: #4d5ae5;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-submit-button:focus,
.order-form-submit-button:hover {
    background: #404bbf;
}

.order-textarea-wrapper {
    margin-bottom: 16px;
}

.user-privacy {
   display: flex;
}







/* TABLET + DESKTOP */
@media screen and (min-width: 768px),
(min-width: 1158px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .checkbox-text {
       width: 100%; 
    }
}














/* MOBILE MENU */
@media only screen and (max-width:767px) {
.mobile-menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000000000;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

        .active {
            color: #404bbf;
        }

    .mobile-menu.is-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .mobile-menu-container {
        position: absolute;
        background: #ffffff;
        display: flex;
        top: 50%;
        left: 50%;
        width: 320px;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 40px 16px;
        
    }

    .mobile-menu-close-btn {
        margin-left: auto;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #E7E9FC;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:active,
    .mobile-menu-close-btn:focus {
        background-color: #404bbf;
        border: none;
    }

        .mobile-page-address-link.active {
            color: #404bbf;
        }

    .mobile-menu-close-icon {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn:hover>.mobile-menu-close-icon,
    .mobile-menu-close-btn:focus>.mobile-menu-close-icon,
    .mobile-menu-close-btn:active>.mobile-menu-close-icon {
        fill: #ffffff;
    }

    .container-mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-list-page-nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-page-nav-link {
        color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-page-nav-link.active {
        color: #404bbf;
    }

    .mobile-page-nav-link:hover,
    .mobile-page-nav-link:focus {
        color: #404bbf;
    }

    .social-media-mobile-class {
        display: flex;
        flex-direction: column;
        row-gap: 48px;
    }

    .mobile-page-address-list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .mobile-page-address-link {
        color: #434455;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-page-address-link:hover,
    .mobile-page-address-link:focus,
    .mobile-page-address-link:active {
        color: #404bbf;
    }

    .social-media-mobile-list {
        display: flex;
        justify-content: space-between;
    }

    .social-media-mobile-item {
        width: 40px;
        height: 40px;
    }

    .social-media-mobile-icon {
        fill: #F4F4FD;
    }

    .social-media-mobile {
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-media-mobile:hover,
    .social-media-mobile:focus,
    .social-media-mobile:active {
        background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


}



@media screen and (min-width:768px) {
.mobile-menu { 
    display: none;
}
}

