ul {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    margin: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.current {
    color: #404bbf;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

@media screen and (min-width:1158px) {
    .logo {
      margin-right: 76px;  
    }

    .contact-info {
        flex-direction: row;
        gap: 40px;
    }

    .address-info {
        font-size: 16px;
        line-height: 1.5;

    }
}

/* TABLET */

@media only screen and (min-width:768px){

    .menu-open-btn {
      display: none;  
    }

    .logo {
        margin-right: 120px;
    }
 
        .menu {
            display: flex;
            gap: 40px;
        }
        .menu-link {
            position: relative;
            padding: 24px 0;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

                .menu-link.current {
                 color: #404bbf;
        
                }
        
                .menu-link:hover,
                .menu-link:focus {
                    color: #404bbf;
                }
                .current {
                    color: #404bbf;
                }
.menu-link.current::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    .contact-info {
       display: flex;
       flex-direction: column; 
       gap: 12px;
    }
}
        .menu-address {
              display: block;
            }

    .address-info {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #434455;
    }
}
/* */

.menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
    cursor: pointer;
}

.menu {
    display: none;
}

.menu-address {
    font-style: normal;
    display: none;
    margin-left: auto;

}

.menu-link.current::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.text-blue {
    color: #2e2f42;
}

.menu-link.current {
    color: #404bbf;

}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}

.address-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


.page-header {
    padding-top: 16px;
    padding-bottom: 16px;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-container {
    position: relative;
    top: 20px;
    right: 16px;
}

.mobile-menu-close-btn {
        position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 0;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #E7E9FC;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover>.mobile-menu-close-icon,
.mobile-menu-close-btn:focus>.mobile-menu-close-icon {
    fill: #ffffff;
}

.social-media-mobile-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-mobile-item {
    width: 40px;
    height: 40px;
}

.social-media-mobile-icon {
    fill: #F4F4FD;
}

.social-media-mobile {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-mobile:hover,
.social-media-mobile:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  */
